@@include('../include/_head.html', {
	"page": "service"
})

<body class="page-service">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <!-- 서브비주얼 -->
	    <div class="sub-visual">
	        <div class="area-slide">
		        <div class="box-slide">
		            <div class="box-slide-txt">
                        <h2 class="tit">고객센터</h2>
                        <p class="sub-tit">단체행사를 디자인하는 위드유투어 서비스는 모든 만족을 위해 최상의 서비스를 제공합니다.</p>
		            </div>
		        </div>
	        </div>
	    </div>
	    
        <!-- 탭 -->
	    <div class="box-tab">
	        <ul class="list-tab">
	            <li><a href="./index.html#sectFaq">자주 묻는 질문</a></li>
	            <li class="on"><a href="#sectQna">질문과 답변</a></li>
	            <li><a href="./index.html#sectQna">견적문의</a></li>
	        </ul>
	    </div>
	    
		<!-- tab02 질문과 답변 : 글쓰기 -->
		<div id="sectQna" class="sect-board sect-qna" style="display: block;">
            <div class="box-sub-tit">
                <h3 class="tit">질문과 답변 (Q&A)</h3>
            </div>
            
            <div class="area-board">
                <div class="box-board write">
                    <div class="tbl-row">
                        <div class="box-tbl-top">
                            <p class="txt-top"><em>* 항목</em>은 필수 입력 사항입니다.</p>
                        </div>
                        <table class="tbl">
                            <colgroup>
                                <col style="width: 13%;">
                                <col style="width: 37%;">
                                <col style="width: 13%;">
                                <col style="width: 37%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>
                                        <label for="userName" class="lbl impt">작성자</label>
                                    </th>
                                    <td>
                                        <div class="box-tf">
                                            <input type="text" id="userName" class="form-ip">
                                        </div>
                                    </td>
                                    <th>
                                        <label for="telNum" class="lbl impt">연락처</label>
                                    </th>
                                    <td>
                                        <div class="box-tf">
                                            <input type="tel" id="telNum" class="form-ip wd-tel">
                                            <span>-</span>
                                            <input type="tel" id="telNum02" class="form-ip wd-tel">
                                            <span>-</span>
                                            <input type="tel" id="telNum03" class="form-ip wd-tel">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="email" class="lbl impt">이메일</label>
                                    </th>
                                    <td>
                                        <div class="box-tf">
                                            <input type="text" id="email" class="form-ip">
                                        </div>
                                    </td>
                                    <th>
                                        <label for="groupName" class="lbl impt">단체명</label>
                                    </th>
                                    <td>
                                        <div class="box-tf">
                                            <input type="text" id="groupName" class="form-ip">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="evtName" class="lbl">행사명</label>
                                    </th>
                                    <td>
                                        <div class="box-tf">
                                            <input type="text" id="evtName" class="form-ip">
                                        </div>
                                    </td>
                                    <th>
                                        <label for="pw" class="lbl impt">패스워드</label>
                                    </th>
                                    <td>
                                        <div class="box-tf">
                                            <input type="password" id="pw" class="form-ip" placeholder="답변 확인 시 꼭 필요합니다.">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="titMame" class="lbl impt">문의제목</label>
                                    </th>
                                    <td colspan="3">
                                        <div class="box-tf">
                                            <input type="text" id="titMame" class="form-ip">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="txtAra" class="lbl impt">문의사항</label>
                                    </th>
                                    <td colspan="3">
                                        <div class="box-tf">
                                            <textarea name="" id="txtAra" cols="30" rows="10" class="form-txtara" placeholder="비교적 상세하게 문의해 주시면 빠른 답변에 도움이 됩니다."></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                
                    <div class="box-robo">
                        <!-- 로봇이 아닙니다 캡차를 넣어주세요 -->
                        <div class="btn-robo">
                            <script src="https://www.google.com/recaptcha/api.js"></script>
                            <div class="g-recaptcha" data-sitekey="6Lc0s4sUAAAAAA6NfIZ8-QuKkQaLxs83zZjrrL8Q"></div>
                        </div>
                        <p class="txt-pt">※ 문의사항의 성격에 따라 온라인 또는 유선으로 답변 드리겠습니다.</p>
                        <a href="#none" class="btn-com">문의하기</a>
                    </div>
                </div>
            </div>
        </div>
	    
	</div>
	
	@@include('../include/_footer.html') 
</div>

</body>
</html>