@@include('../include/_head.html', {
	"page": "service"
})

<body class="page-service">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <!-- 서브비주얼 -->
	    <div class="sub-visual">
	        <div class="area-slide">
		        <div class="box-slide">
		            <div class="box-slide-txt">
                        <h2 class="tit">고객센터</h2>
                        <p class="sub-tit">단체행사를 디자인하는 위드유투어 서비스는 모든 만족을 위해 최상의 서비스를 제공합니다.</p>
		            </div>
		        </div>
	        </div>
	    </div>
	    
        <!-- 탭 -->
	    <div class="box-tab">
	        <ul class="list-tab">
	            <li class="on"><a href="#sectFaq">자주 묻는 질문</a></li>
	            <li><a href="#sectQna">질문과 답변</a></li>
	            <li><a href="#sectCont">견적문의</a></li>
	        </ul>
	    </div>
	    
		<!-- tab01 자주 묻는 질문 -->
		<div id="sectFaq" class="sect-faq" style="display: block;">
            <div class="box-sub-tit">
                <h3 class="tit">자주 묻는 질문 (FAQ)</h3>
            </div>
            
            <div class="area-faq">
                <ul class="list-faq">
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[비용] 학생단체 적용기준 최소인원이 어떻게 되나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[비용] 성인 30명 기준으로 비용은 어떻게 되나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[일반] 단체인원의 최소인원은 몇명인가요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[비용] 단체 대표/선생님/인솔자의 별도 요금적용 기준은 어떻게 되나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 홈페이지 단체문의 접수 이후의 진행은 어떻게 되나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[비용] 특별히 원하는 지역이 있는데 어떻게 견적을 준비해 주시나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 주변에 액티비티나 관광지 등과의 연계도 해주시나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 반드시 시설의 숙소에서 식사는 해야만 하나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 전세버스가 필요한데 이 부분도 해결해 주나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 시설 사전 답사가 필요한데 이것은 어떻게 신청하나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[일반] 대중교통을 타고 가려고 하는데, 현장에는 셔틀버스가 있나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[일반] 조식이나 석식 등의 식사 시 이용시간은 어떻게 되나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[일반] 단체 행사 시 필요한 준비물을 알려주세요.</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[숙박] 원하는 시설의 정확한 주소지를 알고 싶습니다.</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 숙소 내부에 회의 및 레크리에이션을 할만한 장소가 있나요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[진행] 현장 시설에서 취사가 가능할까요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                    <li class="box-faq">
                        <div class="box-qust">
                            <span class="ico-q">Q.</span>
                            <p class="txt-q">[숙박] 청소년들만 가서도 이용이 가능한가요?</p>
                        </div>
                        <div class="box-ansr">
                            <p class="txt-a">
                                단체문의를 접수하시면 위드유투어 담당자가 문의내용을 확인 후 빠른시일 내에 별도의 안내를 드립니다.<br>
                                만약 급하시거나 좀 더 자세한 문의가 필요하신 경우 고객센터로 문의하여 주시면 친절하게 안내해 드립니다.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
	    
		<!-- tab02 질문과 답변 : 목록 -->
		<div id="sectQna" class="sect-board sect-qna" style="display: none;">
            <div class="box-sub-tit">
                <h3 class="tit">질문과 답변 (Q&A)</h3>
            </div>
            
            <div class="area-board">
                <div class="box-board list">
                    <div class="tbl-col">
                        <table class="tbl">
                            <colgroup>
                                <col style="width: 9%;">
                                <col style="width: 62%;">
                                <col style="width: 15%;">
                                <col style="width: 12%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
		                            <td class="t-center">20</td>
                                    <td>
                                        <!-- 비밀번호 입력 팝업 오픈 -->
                                        <a href="#none" class="popOpen">
                                            <p class="desc">속초쪽으로 30명 단체객실 문의드립니다.</p>
                                            <span class="ico-lock"></span>
                                            <!-- 대기 -->
                                            <span class="txt-ing">답변대기</span>
                                        </a>
                                    </td>
		                            <td class="t-center">경원대</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">19</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">계약금 입금했으니 확인해 주세요.</p>
                                            <span class="ico-lock"></span>
                                            <!-- 완료 -->
                                            <span class="txt-end">견적완료</span>
                                        </a>
                                    </td>
		                            <td class="t-center">서울시설관리공단</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">18</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">일정을 연기하고 싶은데 가능할까요?</p>
                                            <span class="ico-lock"></span>
                                            <span class="txt-end">견적완료</span>
                                        </a>
                                    </td>
		                            <td class="t-center">서울성수중학교</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">17</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">세미나 계획 중인데 가능한 호텔 있을까요?</p>
                                            <span class="ico-lock"></span>
                                            <span class="txt-end">견적완료</span>
                                        </a>
                                    </td>
		                            <td class="t-center">단국대학교</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">16</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">오션투유리조트에서 취식이나 장기로 이용가능한가요?</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">나그네</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">15</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">속초쪽으로 30명 단체객실 문의드립니다.</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">예약문의</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">14</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">계약금 입금했으니 확인해 주세요.</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">경동초등학교</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">13</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">일정을 연기하고 싶은데 가능할까요?</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">혼다코리아</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">12</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">세미나 계획 중인데 가능한 호텔 있을까요?</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">서울공단</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                
                                <!-- EX : 질문과 답변 보기페이지로 이동 -->
                                <tr>
		                            <td class="t-center">11</td>
                                    <td>
                                        <a href="./index_qna_read.html">
                                            <p class="desc">보기페이지로 이동할수 있는 예시 목록</p>
                                            
                                        </a>
                                    </td>
		                            <td class="t-center">서울성수중학교</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-tbl-btm">
                        <div id="pagenation" class="box-page">
                            <a class="prev" href="">&lt;</a>
                            <a class="on" href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a class="next" href="">&gt;</a>
                        </div>
                        
                        <!-- 질문과 답변 글쓰기 페이지로 이동 -->
                        <a href="./index_qna_write.html" class="btn-com">문의하기</a>
                    </div>
                </div>
            </div>
        </div>
	    
		<!-- tab03 견적문의 : 목록 -->
		<div id="sectCont" class="sect-board sect-cont" style="display: none;">
            <div class="box-sub-tit">
                <h3 class="tit">단체행사 견적문의</h3>
                <p class="sub-tit">경력 20년의 특급플래너가 최적의 플랜을 제안드립니다.<br>모든 것이 완벽한 시설에서 좋은 추억을 만들어보세요!</p>
            </div>
            
            <div class="area-board">
                <div class="box-board list">
                    <div class="tbl-col">
                        <table class="tbl">
                            <colgroup>
                                <col style="width: 9%;">
                                <col style="width: 62%;">
                                <col style="width: 15%;">
                                <col style="width: 12%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>행사명</th>
                                    <th>단체명</th>
                                    <th>등록일</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
		                            <td class="t-center">120</td>
                                    <td>
                                        <!-- 비밀번호 입력 팝업 오픈 -->
                                        <a href="#none" class="popOpen">
                                            <p class="desc">최남정 가족 회갑연회 계획</p>
                                            <span class="ico-lock"></span>
                                            <!-- 진행 -->
                                            <span class="txt-ing">견적진행</span>
                                        </a>
                                    </td>
		                            <td class="t-center">최남정</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">119</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">경동중학교 2학년 체험학습 행사</p>
                                            <span class="ico-lock"></span>
                                            <!-- 견적완료 -->
                                            <span class="txt-end">견적완료</span>
                                        </a>
                                    </td>
		                            <td class="t-center">서울경동중학교</td>
		                            <td class="t-center">2019.05.05</td>
                                </tr>
                                <tr>
		                            <td class="t-center">118</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">서울대학교 사회학과 동문 연회</p>
                                            <span class="ico-lock"></span>
                                            <span class="txt-end">견적완료</span>
                                        </a>
                                    </td>
		                            <td class="t-center">서울대</td>
		                            <td class="t-center">2019.05.04</td>
                                </tr>
                                <tr>
		                            <td class="t-center">117</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">백두대간 산악회 행사</p>
                                            <span class="ico-lock"></span>
                                            <span class="txt-end">견적완료</span>
                                        </a>
                                    </td>
		                            <td class="t-center">봄봄산악회</td>
		                            <td class="t-center">2019.05.04</td>
                                </tr>
                                <tr>
		                            <td class="t-center">116</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">서울야구단 전지훈련 단합대회</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">서울사회인야구단</td>
		                            <td class="t-center">2019.05.03</td>
                                </tr>
                                <tr>
		                            <td class="t-center">115</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">누리코리아 신입사원 오리엔테이션 행사</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">누리코리아</td>
		                            <td class="t-center">2019.05.03</td>
                                </tr>
                                <tr>
		                            <td class="t-center">114</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">광성교회 사업설명회 행사</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">광성교회</td>
		                            <td class="t-center">2019.05.02</td>
                                </tr>
                                <tr>
		                            <td class="t-center">113</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">우리역사알기회 현장답사 행사</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">국민대학교</td>
		                            <td class="t-center">2019.05.02</td>
                                </tr>
                                <tr>
		                            <td class="t-center">112</td>
                                    <td>
                                        <a href="#none" class="popOpen">
                                            <p class="desc">최남정 가족 회갑연회 계획</p>
                                            <span class="ico-lock"></span>
                                        </a>
                                    </td>
		                            <td class="t-center">최남정</td>
		                            <td class="t-center">2019.05.02</td>
                                </tr>
                                
                                <!-- EX : 견적문의 보기페이지로 이동 -->
                                <tr>
		                            <td class="t-center">111</td>
                                    <td>
                                        <a href="./index_cont_read.html">
                                            <p class="desc">견적요청페이지로 이동할수 있는 예시 목록</p>
                                            
                                        </a>
                                    </td>
		                            <td class="t-center">서울경동중학교</td>
		                            <td class="t-center">2019.05.01</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="box-tbl-btm">
                        <div id="pagenation" class="box-page">
                            <a class="prev" href="">&lt;</a>
                            <a class="on" href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a class="next" href="">&gt;</a>
                        </div>
                        
                        <!-- 견적문의 글쓰기 페이지로 이동 -->
                        <a href="./index_cont_write.html" class="btn-com">견적요청</a>
                    </div>
                </div>
            </div>
        </div>
	    
	</div>
	
	@@include('../include/pop/pop_pw.html') 
	@@include('../include/_footer.html') 
</div>

</body>
</html>