@@include('../include/_head.html', {
	"page": "service"
})

<body class="page-service">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <!-- 서브비주얼 -->
	    <div class="sub-visual">
	        <div class="area-slide">
		        <div class="box-slide">
		            <div class="box-slide-txt">
                        <h2 class="tit">고객센터</h2>
                        <p class="sub-tit">단체행사를 디자인하는 위드유투어 서비스는 모든 만족을 위해 최상의 서비스를 제공합니다.</p>
		            </div>
		        </div>
	        </div>
	    </div>
	    
        <!-- 탭 -->
	    <div class="box-tab">
	        <ul class="list-tab">
	            <li><a href="./index.html#sectFaq">자주 묻는 질문</a></li>
	            <li class="on"><a href="#sectQna">질문과 답변</a></li>
	            <li><a href="./index.html#sectQna">견적문의</a></li>
	        </ul>
	    </div>
	    
		<!-- tab02 질문과 답변 : 읽기 -->
		<div id="sectQna" class="sect-board sect-qna" style="display: block;">
            <div class="box-sub-tit">
                <h3 class="tit">질문과 답변 (Q&A)</h3>
            </div>
            
            <div class="area-board">
                <div class="box-board read">
                    <div class="tbl-row">
                        <table class="tbl">
                            <colgroup>
                                <col style="width: 13%;">
                                <col style="width: 37%;">
                                <col style="width: 13%;">
                                <col style="width: 37%;">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>작성자</th>
                                    <td><p class="txt-p">홍길동</p></td>
                                    <th>연락처</th>
                                    <td><p class="txt-p">010-1234-5678</p></td>
                                </tr>
                                <tr>
                                    <th>이메일</th>
                                    <td><p class="txt-p">hong@naver.com</p></td>
                                    <th>단체명</th>
                                    <td><p class="txt-p">혼다코리아</p></td>
                                </tr>
                                <tr>
                                    <th>행사명</th>
                                    <td><p class="txt-p">임직원 단체여행</p></td>
                                    <th>패스워드</th>
                                    <td><p class="txt-p">****</p></td>
                                </tr>
                                <tr>
                                    <th>문의제목</th>
                                    <td colspan="3"><p class="txt-p">일정을 연기하고 싶은데 가능할까요?</p></td>
                                </tr>
                                <tr>
                                    <th>문의사항</th>
                                    <td colspan="3">
                                        <p class="txt-p">
                                            혼다코리아입니다.<br>
                                            일전에 단체여행 문의하고 견적을 받았는데요. 저희 일정을 변경하고 싶어요.<br>
                                            5월 20일 2박 일정을 22일 3박으로 변경하고 싶습니다.<br>
                                            연락처로 전화좀 부탁드립니다.
                                        </p>
                                    </td>
                                </tr>
                                <tr class="answer">
                                    <th>문의답변</th>
                                    <td colspan="3">
                                        <p class="txt-p">
                                            안녕하십니까. 위드유투어입니다.<br>
                                            문의하신 사항을 접수하였습니다.<br>
                                            곧 담당자가 유선으로 연락드리도록 하겠습니다. 감사합니다.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <div class="box-btn">
                        <div class="box-fl fl-left">
                            <a href="./index.html#sectQna" class="btn-com">목록으로</a>
                        </div>
                        <div class="box-fl fl-right">
                            <a href="#none" class="btn-com popOpen">수정하기</a>
                            <a href="#none" class="btn-com popOpen">삭제하기</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
	    
	</div>
	
	@@include('../include/pop/pop_pw.html') 
	@@include('../include/_footer.html') 
</div>

</body>
</html>