@charset "utf-8";

@import "./parts/common";
//include
@import "./include/pop";
@import "./include/bn";

@import url(http://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css);
@import url(http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);

body {
	font-family: $font-stack; 
	color: $primary-color;
    letter-spacing: -0.5px;
	line-height: 1.3; 
}

/* 초기화 */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='password'] { //패스워드일 경우 스퀘어폰트가 먹지 않아서
    font-family: $font-nnGothic !important; 
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand { 
    display: none; 
}
a {
    color: inherit;
}
img {
	max-width: 100%;
}

/* slider */
.bx-controls {
    display: none;
}

/* common */
.fl-left {
    float: left;
}
.fl-right {
    float: right;
}
.t-center {
    text-align: center;
}

/* icon */
.ico-menu {
    position: relative;
    display: inline-block;
    margin: 0 10px 3px 0;
    padding: 0;
    background: #000;
    
    &, &:before, &:after {
        width: 18px;
        height: 3px;
    }
    
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        background: #000;
    }
    
    &:before {
        margin-top: -8px;
    }
    
    &:after {
        margin-top: 4px;
    }
}

/* 해더 영역 */
.header {
    .gnb {
        z-index: 90;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        line-height: 0;
        background: #fff;
        border-bottom: 2px solid $bor-green;
        
        .box-gnb {
            @include bx;
            @include clearfix;
            width: $all-wd;
            margin: 0 auto;
            text-align: center;
            
            a {
                display: block;
            }
            
            .logo {
                position: absolute;
                left: 0;
                padding-top: 22px;
                a {
                    img {

                    }
                }
            }
            
            .menu {
                @include bx;
                display: inline-block;
                padding-left: 26px;
                a {
                    @include bx;
                    color: $fg-menu-color;
                }
                > li {
                    @include bx;
                    float: left;
                    > a {
                        padding: 0 23px;
                        font-size: 20px;
                        line-height: 97px;
                        letter-spacing: -0.5px;
                    }
                    .snb {
                        z-index: 95;
                        display: none;
                        position: absolute;
                        box-sizing: border-box;
                        width: 100%;
                        &:before {
                            @include position(absolute, -16px, 50%, auto, auto);
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            margin-left: -8px;
                            border: 8px solid transparent; 
                            border-bottom: 8px solid $bor-sub-menu;
                        }
                        li {
                            @include bx;
                            font-family: $font-nnGothic;
                            border: 1px solid $bor-sub-menu;
                            border-top: 0;
                            background: #fff;
                            &:first-child {
                                border-top:1px solid $bor-sub-menu;
                                &:before {
                                    @include position(absolute, -14px, 50%, auto, auto);
                                    content: '';
                                    display: block;
                                    width: 0;
                                    height: 0;
                                    margin-left: -7px;
                                    border: 7px solid transparent; 
                                    border-bottom: 7px solid #fff;
                                }
                            }
                            a {
                                height: 34px;
                                padding: 0 9px;
                                font-size: 15px;
                                line-height: 34px;
                                letter-spacing: -1.3px;
                                text-align: left;
                            }
                            &.on {
                                a {
                                    background: #ebebeb;
                                }
                                &:first-child {
                                    &:before {
                                        border-bottom-color: #ebebeb;
                                    }
                                }
                            }
                        }
                    }
                    
                    &.on {
                        > a {
                            color: $fg-orange-2;
                        } 
                    }
                }
            }
            
            //sitemap
            .sitemap {
                position: absolute;
                top: 39px;
                right: 0;
                > a {
                    line-height: 1;
                    font-weight: 500;
                    font-family: $font-nnGothic;
                }
            }
        }
        
        .box-until {
            @include position(absolute, 30px, auto, auto, 35px);
            line-height: 1.3;
            display: block;
            .box-cust {
                position: relative;
                color: #525252;
                > span {
                    display: inline-block;
                    padding: 4px 3px 0 0;
                    font-size: 17px;
                    vertical-align: top;
                }
                .ico-call {
                    @include icoCall;
                }
            }
        }
    }
    
}
/* 최소값 정렬을 위해 */
@media (max-width: 1649px) {
    $wd : $aling-wd;
    .header {
        width: $wd;
        .gnb {
            width: $wd;
        }
        .box-until {
            position: relative;
            top: auto;
            right: auto;
            .box-cust {
                position: absolute;
                top: 0;
                right: 8px;
            }
        }
    }
    .footer {
        width: $wd;
        .inner { 
            width: $wd;
        }
    }
}


/* 콘텐츠 영역 */
.contents {
    @include bx;
    @include clearfix;
    margin-top: 99px;
    
    //전체 섹션
    div[class*='sect-'] {
        @include bx;
        @include clearfix;
        width: $all-wd;
        margin: 0 auto;
    }
    
    /* 비주얼 */
    div[class*='visual'] {
        @include bx;
        @include clearfix;
        width: 100%;
        margin: 0 auto;
        
        .area-slide {
            @include bx;
            @include clearfix;
            //width: 100% !important;
            .box-slide {
                @include bx;
                z-index: 2;
                display: table;
                overflow: hidden;
                width: 100%;
                text-align: center;
                .box-slide-txt {
                    display: table-cell;
                    vertical-align: middle;
                    color: #fff;
                }
                &:before {
                    content: ""; 
                    z-index: -1;
                    display: block; 
                    position: absolute; 
                    width: 100%; 
                    height: 100%; 
                    top: 0;
                    left: 0; 
                    -webkit-transition: all 5.5s;
                    -ms-transition: all 5.5s;      
                    -o-transition: all 5.5s;
                    transition: all 5.5s;
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            &.active {
                .box-slide:before {
                    -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                    -o-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
        
        &.visual {
        }
        
        //서브페이지 비주얼 영역
        &.sub-visual {
            .area-slide {
                width: 100% !important;
                .box-slide {
                    height: 278px;
                    .box-slide-txt {
                        letter-spacing: -0.7px;
                        .tit {
                            font-size: 36px;
                            font-weight: 600;
                        }
                        .sub-tit {
                            margin-top: 3px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    
    //탭
    .box-tab {
        @include bx;
        @include clearfix;
        @include position(absolute, auto, 0, auto, auto);
        z-index: 80;
        width: 100%;
        height: 50px;
        text-align: center;
        margin-top: -50px;
        background: rgba(0, 0, 0, 0.45);
            
        .list-tab {
            @include bx;
            @include clearfix;
            display: inline-block;
            
            li {
                float: left;
                a {
                    @include bx;
                    display: inline-block;
                    height: 50px;
                    padding: 0 13px;
                    font-size: 18px;
                    line-height: 50px;
                    color: #fff;
                    border-bottom: 1px solid transparent;
                }
                
                &:hover, &.on {
                    a {
                        color: #000;
                        background: #fff;
                        border-bottom-color: $bor-tab-menu;
                    }
                    
                }
            }
        }
    }
    
    //서브페이지 타이틀 영역
    .box-sub-tit {
        @include bx;
        text-align: center;
        
        .tit {
            font-size: 34px;
            font-weight: 600;
            color: $fg-black-1;
            em {
                color: $fg-orange-1;
            }
        }
        .sub-tit {
            padding: 10px 0 15px;
            font-size: 22px;
            &.fg-green {
                color: $fg-green-2;
            }
            
            &.fg-blue {
                color: $fg-blud-1;
            }
        }
    }
    
    
}


/* 푸터 영역 */
.footer {
    @include bx;
    padding: 31px 0 70px;
    background: #f6f6f6;
    .inner {
        @include bx;
        @include clearfix;
        width: 1020px;
        margin: 0 auto;
        text-align: center;
            
        .list-footer {
            display: inline-block;
            border-radius: 23px;
            background: #fff;
            
            .menu {
                @include bx;
                @include clearfix;
                padding: 13px 20px 12px;
                li {
                    float: left;
                    @include line-01;
                    a {
                        display: block;
                        padding: 0 10px;
                        font-size: 16px;
                    }
                }
            }
        }
        
        .box-adr {
            @include bx;
            @include clearfix;
            margin-top: 30px;
            .row-ft {
                @include bx;
                .logo {
                    width: 152px;
                    img {
                    }
                }
                .address {
                    margin-top: 10px;
                    font-size: 15px;
                    text-align: left;
                    span {
                        display: inline-block;
                        &.mt {
                            display: block;
                            margin-top: 17px;
                        }
                        & + span {
                            margin-left: 8px;
                        }
                        &.mt + span {
                            margin-left: 0;
                        }
                    }
                    small {
                        display: block;
                        font-size: 12px;
                    }
                    
                    .btn-link {
                        @include btn-com($ht:27px, $pd: 0 5px, $fs:14px, $fg:#686868, $bor-r:0);
                        margin-left: 14px;
                    }
                }
                
                &.row-cust {
                    @include position(absolute, 0, auto, auto, 0);
                    text-align: right;
                    
                    .box-cust {
                        .txt-cust {
                            margin-bottom: 4px;
                            font-size: 20px;
                            line-height: 20px;
                            vertical-align: middle;
                            color: #525252;
                            img {
                                padding-right: 5px;
                                vertical-align: top;
                            }
                        }
                        
                        .ico-call {
                            @include icoCall($fc-be:19px, $fc-em:28px, $fc-span:15px);
                        }
                    }
                }
            }
        }
        
        .list-cert {
            @include bx;
            @include clearfix;
            margin-top: 40px;
            li {
                float: left;
                padding: 0 15px;
                @include line-01($ht:19px, $bg:#cdcdcd);
                &:first-child {
                    padding-left: 0;
                }
                .img-cert {
                    display: table;
                    width: 100%;
                    height: 32px;
                    text-align: center;
                    figure {
                        display: table-cell;
                        vertical-align: middle;
                        img {
                        }
                    }
                }
                span {
                    font-size: 13px;
                    letter-spacing: -1px;
                    color: #6d6d6d;
                }
            }
        }
    }
}

    


/* 
 * ie 
 */
/* icon */
.ie .ico-menu {
    
    &:after {
        margin-top: 6px;
    }
}


/* 
 * ie8 
 */
/* 해더 영역 */
.ie8 .header {
    .gnb {
        .box-gnb {
            .menu {
                > li {
                    .snb {
                        li {
                            a {
                                font-size: 14px;
                                letter-spacing: -1.5px;
                            }
                        }
                    }
                }
            }
        }
    }
    
}

/* 콘텐츠 영역 */
.ie8 .contents {
    margin-top: 97px;
    
    //탭
    .box-tab {
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000);
    }
}

/* 푸터 영역 */
.ie8 .footer {
    clear: both;
}



/* 
 * safari 
 */
/* icon */
.safari .ico-menu {
    
    &:after {
        margin-top: 6px;
    }
}

/* 콘텐츠 영역 */
.safari .contents {
    margin-top: 97px;
}