<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>단체예약 통합홍보사이트</title>
	<!-- load fonts first -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	
	<!-- css -->
	<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
	<link rel="stylesheet" href="http://static.hotelgangneung.kr/css/jquery-ui.css">
	
	<link rel="stylesheet" href="http://static.withutour.co.kr/css/init.css">
	<!--<link rel="stylesheet" href="../static/css/init.css"> -->
	
    <!-- <script type="text/javascript" src="http://localhost:35729/livereload.js"></script> -->
	<!-- js -->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	
	<script src="http://static.withutour.co.kr/js/common.js"></script>
	<script src="http://static.withutour.co.kr/js/init.js"></script>
	<!--<script src="../static/js/common.js"></script>-->
	<!--<script src="../static/js/init.js"></script>-->

	<!--[if lt IE 9]>
		<script type="text/javascript" src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->
</head>

<body>

	<h1 class="hidden">단체예약 통합홍보사이트</h1>
	
	<div class="wrapper">
		
		<!-- header -->
		<!-- 181219 header 수정 -->
		<header class="header">
			 <h1 class="logo"><img src="http://img.withutour.co.kr/logo.png" alt="위드유투어 로고"></h1> 
		    <!-- 190109 입점문의 추가 -->
			 <a href="tel:010-9094-0396" class="cust-txt"><img src="http://img.hyutour.co.kr/group/btn_contact.png" alt="입점문의 010-9094-0396"></a>
		</header>
		
		<!-- 190220 banner 추가 -->
        <div class="r-wing">
            <a href="#none" class="move-group"><img src="http://img.withutour.co.kr/banner/bn_contact.png" alt="위드유투어 단체행사 문의접수"></a>
        </div>
		
		
		<!-- contents -->
		<div class="contents">
			<section class="visual">
			    <div class="container">
			        <h2 class="tit"><img src="http://img.hyutour.co.kr/group/tit_visual.png" alt="단체행사를 계획하세요? 기업, 학생, 모임 등 단체행사 고민 끝!"></h2> 
			        <p class="p-0">20년 이상 단체행사 경험으로<br>원하시는 비용, 장소, 프로그램 등 모든 것을 완벽하게 맞춰드립니다.</p>
			        <p class="p-1">
                        워크샵, 세미나, 연수/교육<br>
                        야유회, 체육대회, MT/OT, 수학여행/졸업여행, 수련회, 체험/현장학습 등<br>
                        단체행사를 위한 최적의 숙박과 행사 프로그램을 제공해 드립니다.
                    </p>
			        <a href="tel:010-9094-0396" class="cust-txt">
			            <span>지금 전화주세요 !</span>
			            <span class="tell-txt">010-9094-0396</span>
			        </a>
		        </div>
			</section>
			
            <section class="group">
                <div class="container clr">
                    <!-- 기본 group-list클래스. 유형에 따라 hotel, resort 멀티클래스 추가. 해당 숙박시설명 멀티클래스 추가 -->
                    <div class="group-list hotel ramada">
                        <div class="link-area" onclick="window.open('http://www.ramadapt.co.kr/group/')" title="라마다앙코르평택호텔 단체문의 페이지 이동">
                            <div class="tit-area">
                                <div class="type-box clr">
                                    <span class="type-adr">경기도 평택</span>
                                    <span class="type-stay">호텔 HOTEL</span>
                                </div>
                                <dl class="tit-box">
                                    <dt class="tit">라마다앙코르평택호텔</dt>
                                    <dd class="sub-tit">평택, 천안, 당진, 서해, 아산, 도고, 인천</dd>
                                </dl>
                            </div>
                            
                            <div class="txt-area">
                                <figure class="img-type"><img src="http://img.hyutour.co.kr/group/ramada/img_type.jpg" alt="라마다앙코르평택호텔"></figure>
                                <p class="p-0">
                                    라마다앙코르평택에서는 평택항의 노을,<br>
                                    서해대교 전망은 가장 편안한 마음의<br>
                                    휴식처가 되어 드립니다.<br>
                                    편안하고 다양한 부대시설은 물론, 평택호<br> 
                                    관광단지, 아산스파비스, 리솜스파캐슬과<br> 
                                    인접하여 단체행사의 큰 즐거움을 드립니다.
                                </p>
                                <p class="p-1 c-red">※ 총 302객실 호텔 / 1,500명 동시 이용</p>

                                <a href="#none" class="btn-detail"><span>자세한 시설안내 보기</span></a> <!-- 상위에 새창이동으로 링크 걸려있음 -->
                            </div>
                        </div>
                    </div>
                    <!--//.group-list.ramada-->
                    <div class="group-list resort bscondo">
                        <div class="link-area" onclick="window.open('http://www.bscondo.co.kr/group/')" title="도고BS콘도 리조트 단체문의 페이지 이동">
                            <div class="tit-area">
                                <div class="type-box clr">
                                    <span class="type-adr">충남 아산</span>
                                    <span class="type-stay">리조트 RESORT</span>
                                </div>
                                <dl class="tit-box">
                                    <dt class="tit">도고BS콘도 리조트</dt>
                                    <dd class="sub-tit">아산, 도고, 당진, 천안, 평택</dd>
                                </dl>
                            </div>
                            
                            <div class="txt-area">
                                <figure class="img-type"><img src="http://img.hyutour.co.kr/group/bscondo/img_type.jpg" alt="도고BS콘도 리조트"></figure>
                                <p class="p-0">
                                    도고BS콘도 리조트는 국내 최대 온천지인<br>
                                    충남아산에 위치하여 많은 분들께<br>
                                    사랑받고 있는 종합리조트입니다.<br>
                                    온천, 스파, 워터파크는 물론 주변의<br>
                                    볼거리, 놀거리가 가득하여 단체행사 등을<br>
                                    진행하시기에 최적의 장소입니다.
                                </p>
                                <p class="p-1 c-red">※ 총 200객실 호텔 / 1,500명 동시 이용</p>

                                <a href="#none" class="btn-detail"><span>자세한 시설안내 보기</span></a> <!-- 상위에 새창이동으로 링크 걸려있음 -->
                            </div>
                        </div>
                    </div>
                    <!--//.group-list.bscondo-->
                    <div class="group-list resort ocean">
                        <div class="link-area" onclick="window.open('http://ocean2you.co.kr/group/')" title="오션투유리조트 단체문의 페이지 이동">
                            <div class="tit-area">
                                <div class="type-box clr">
                                    <span class="type-adr">강원도 속초성</span>
                                    <span class="type-stay">리조트 RESORT</span>
                                </div>
                                <dl class="tit-box">
                                    <dt class="tit">오션투유리조트</dt>
                                    <dd class="sub-tit">속초, 고성, 설악, 동해, 강릉</dd>
                                </dl>
                            </div>
                            
                            <div class="txt-area">
                                <figure class="img-type"><img src="http://img.hyutour.co.kr/group/ocean/img_type.jpg" alt="오션투유리조트"></figure>
                                <p class="p-0">
                                    천혜의 절경, 삼포해변 배경의 오션투유는<br>
                                    학교 및 기업의 단체에 최적의 장소입니다.<br>
                                    워크숍, 세미나, 교육연수 등 단체 활동을<br>
                                    위한 다양한 부대시설이 준비되어 있습니다.<br> 
                                    인근에 설악산, 해수욕장들과 인접하여<br> 
                                    더욱 즐거운 시간을 드립니다.
                                </p>
                                <p class="p-1 c-red">※ 총 250객실 호텔 / 1,800명 동시 이용</p>

                                <a href="#none" class="btn-detail"><span>자세한 시설안내 보기</span></a> <!-- 상위에 새창이동으로 링크 걸려있음 -->
                            </div>
                        </div>
                    </div>
                    <!--//.group-list.ocean-->
                    <div class="group-list resort namwon">
                        <div class="link-area" onclick="window.open('http://www.namwoncondo.kr/group/')" title="지리산 중앙하이츠 콘도 단체문의 페이지 이동">
                            <div class="tit-area">
                                <div class="type-box clr">
                                    <span class="type-adr">전남 남원</span>
                                    <span class="type-stay">리조트 RESORT</span>
                                </div>
                                <dl class="tit-box">
                                    <dt class="tit">지리산 중앙하이츠 콘도</dt>
                                    <dd class="sub-tit">남원, 전주, 광주, 순창, 담양</dd>
                                </dl>
                            </div>
                            
                            <div class="txt-area">
                                <figure class="img-type"><img src="http://img.hyutour.co.kr/group/namwon/img_type.jpg" alt="지리산 중앙하이츠 콘도"></figure>
                                <p class="p-0">
                                    지리산 중앙하이츠 콘도는 지리산<br>
									국립공원 근처에 위치하여<br>
									천혜의 대자연을 감상할 수 있습니다.<br>
									지리산, 남원, 광한루, 구룡폭포, 청계동 계곡<br>
									등의 관광지가 인접하여 단체행사에 더 큰<br>
                            		재미를 선사해드립니다.
                                </p>
                                <p class="p-1 c-red">※ 총 153객실 호텔 / 1,000명 동시 이용</p>

                                <a href="#none" class="btn-detail"><span>자세한 시설안내 보기</span></a> <!-- 상위에 새창이동으로 링크 걸려있음 -->
                            </div>
                        </div>
                    </div>
                    <!--//.group-list.namwon-->
					<div class="group-list resort chiak">
                        <div class="link-area" onclick="window.open('http://www.koresco-chiak.co.kr/group/')" title="코레스코 치악 콘도 단체문의 페이지 이동">
                            <div class="tit-area">
                                <div class="type-box clr">
                                    <span class="type-adr">강원도 횡성</span>
                                    <span class="type-stay">리조트 RESORT</span>
                                </div>
                                <dl class="tit-box">
                                    <dt class="tit">코레스코 치악 콘도</dt>
                                    <dd class="sub-tit">횡성, 원주, 평창, 제천, 홍천</dd>
                                </dl>
                            </div>
                            
                            <div class="txt-area">
                                <figure class="img-type"><img src="http://img.hyutour.co.kr/group/chiak/img_type.jpg" alt="라마다앙코르평택호텔"></figure>
                                <p class="p-0">
                                    코레스코치악콘도는 치악산국립공원에<br>
									인접하여 휴양과 편안한 부대시설은 물론<br>
									매화산, 구룡산, 다양한 스키장 등과<br>
									근거리에 있는 등 산악회, 등산, 트래킹을<br>
									비롯한 다양한 단체행사에<br>
									최적의 접근성을 자랑합니다.
                                </p>
                                <p class="p-1 c-red">※ 총 162객실 호텔 / 1,000명 동시 이용</p>

                                <a href="#none" class="btn-detail"><span>자세한 시설안내 보기</span></a> <!-- 상위에 새창이동으로 링크 걸려있음 -->
                            </div>
                        </div>
                    </div>
                    <!--//.group-list.chiak-->
					<div class="group-list resort eonho">
                        <div class="link-area" onclick="window.open('http://www.eonhoresort.co.kr/group/')" title="연호리조트 단체문의 페이지 이동">
                            <div class="tit-area">
                                <div class="type-box clr">
                                    <span class="type-adr">강원도 속초</span>
                                    <span class="type-stay">리조트 RESORT</span>
                                </div>
                                <dl class="tit-box">
                                    <dt class="tit">연호리조트</dt>
                                    <dd class="sub-tit">속초, 고성, 설악, 동해, 강릉</dd>
                                </dl>
                            </div>
                            
                            <div class="txt-area">
                                <figure class="img-type"><img src="http://img.hyutour.co.kr/group/eonho/img_type.jpg" alt="라마다앙코르평택호텔"></figure>
                                <p class="p-0">
                                    설악산과 동해바다를 모두 품고 있는<br>
									연호리조트는 모든 종류의 단체행사에<br>
									최적의 장소입니다.<br>
									속초시내와도 가깝고 주변의 수많은<br>
									관광지가 인접해 있어 다양한 단체행사에<br>
                            		최고의 즐거움을 약속드립니다.
                                </p>
                                <p class="p-1 c-red">※ 총 119객실 호텔 / 1,000명 동시 이용</p>

                                <a href="#none" class="btn-detail"><span>자세한 시설안내 보기</span></a> <!-- 상위에 새창이동으로 링크 걸려있음 -->
                            </div>
                        </div>
                    </div>
                    <!--//.group-list.eonho-->
                </div>
            </section>

            <!-- 190118 -->
            <section class="facil-sec">
                <div class="container">
                    <h2 class="sec-tit">단체행사 추천 사례</h2>
                    <ul class="ul-list-2 clr">
                        <li class="li-item">
                            <figure>
                                <span class="s-bg"></span>
                                <img src="http://img.bscondo.co.kr/group/music_01.jpg" class="hidden-xs" alt="춤연습장, 보컬연습실이 필요한 단체숙소로 추천">
                                <img src="http://img.bscondo.co.kr/m/group/music_01.jpg" class="show-xs" alt="춤연습장, 보컬연습실이 필요한 단체숙소로 추천">
                                <figcaption>춤연습장, 보컬연습실이 필요한 단체숙소로 추천</figcaption>
                            </figure>
                            <p class="li-txt ht-1"><span>걸그룹 댄스연습실, 아이돌 대형연습실, 보이그룹 춤연습실, 뮤지컬 연습실, 댄스연습장, 대형연습장, 춤연습장, 합숙연습실, 합숙연습장, 합숙연습, 보컬연습실</span></p>
                        </li>
                        <li class="li-item">
                            <figure>
                                <span class="s-bg"></span>
                                <img src="http://img.bscondo.co.kr/group/music_02.jpg" class="hidden-xs" alt="합주연습실이 필요한 단체숙소로 추천">
                                <img src="http://img.bscondo.co.kr/m/group/music_02.jpg" class="show-xs" alt="합주연습실이 필요한 단체숙소로 추천">
                                <figcaption>합주연습실이 필요한 단체숙소로 추천</figcaption>
                            </figure>
                            <p class="li-txt ht-1"><span>관현악단 합주실, 오케스트라 합주연습실, 국악관현악단 합주연습장, 악단 합숙연습, 뮤지컬악단 합주장소, 교향악단 합주연습장소, 현악단 연습장소, 교회현악단 합숙연습실, 교회관현악단 합숙연습장, 전자현악단 단체숙박, 국악현악단 단체숙소</span></p>
                        </li>
                        <li class="li-item">
                            <figure>
                                <span class="s-bg"></span>
                                <img src="http://img.bscondo.co.kr/group/groupEvent_01.jpg" class="hidden-xs" alt="초, 중, 고, 대학교, 학술답사 등의 단체숙소와 행사로 추천">
                                <img src="http://img.bscondo.co.kr/m/group/groupEvent_01.jpg" class="show-xs" alt="초, 중, 고, 대학교, 학술답사 등의 단체숙소와 행사로 추천">
                                <figcaption>초, 중, 고, 대학교, 학술답사 등의 단체숙소와 행사로 추천</figcaption>
                            </figure>
                            <p class="li-txt"><span>수학여행, 체험학습, 수련회, 체육대회, MT, OT, 답사, 학회, 고적답사,<br>유적답사, 문화유적답사, 문화유산답사, 역사유산답사 등</span></p>
                        </li>
                        <li class="li-item">
                            <figure>
                                <span class="s-bg"></span>
                                <img src="http://img.bscondo.co.kr/group/groupEvent_02.jpg" class="hidden-xs" alt="회사, 기업, 종교, 가족 등의 단체숙소와 행사로 추천">
                                <img src="http://img.bscondo.co.kr/m/group/groupEvent_02.jpg" class="show-xs" alt="회사, 기업, 종교, 가족 등의 단체숙소와 행사로 추천">
                                <figcaption>회사, 기업, 종교, 가족 등의 단체숙소와 행사로 추천</figcaption>
                            </figure>
                            <p class="li-txt"><span>워크샵, 세미나, 연수원, 기업OT, 기업행사, 야유회, 신녀회, 송년회,<br>환갑, 회갑, 돌잔치, 결혼식, 상견례, 환갑잔치, 칠순잔치 등</span></p>
                        </li>
                    </ul>
                </div>
            </section>
            
            <!-- 181224 단체예약 문의 추가 -->
            <section id="etc" class="etc">
			    <div class="container">
                    <div class="d-cm">
                        <p class="p-0">20년 경력의 특급플래너가 제시하는 최적의 플랜!</p>
                        <p class="p-1">모든 것이 완벽한 리조트, 호텔에서 아름다운 추억을 만들어보세요!</p>
                        <p class="p-2">중대형 규모의 객실시설에서 1~2,000명까지 동시 이용이 가능합니다.!</p>

                        <div class="contact-pop type-2" id="contact-pop" style="z-index: 0;">
                            <div class="d-top i-chk-bef">
                                <span class="s-1">은 </span>필수 입력 사항입니다.
                            </div>
                            <ul class="ul-tb nece">
                                <li class="li-tr">
                                    <span class="s-lbl i-chk-aft">예약자</span>
                                    <input type="text" class="wd-1" name="name" maxlength="40">
                                    <hr class="show-xs">
                                    <span class="s-lbl i-chk-aft ml-1">연락처</span>
                                    <input type="text" class="wd-2" name="tel1" maxlength="3">
                                    <span class="mg-"></span>
                                    <input type="text" class="wd-2" name="tel2" maxlength="4">
                                    <span class="mg-"></span>
                                    <input type="text" class="wd-2" name="tel3" maxlength="4">
                                    <div class="show-xs"></div>
                                </li>
                                <li class="li-tr">
                                    <span class="s-lbl i-chk-aft">이메일</span>
                                    <input type="text" class="wd-3" name="email">
                                    <hr class="show-xs">
                                    <span class="s-lbl ml-1 i-chk-aft">시설선택</span>
                                    <select name="h_gubun" id="h_gubun" class="wd-1 wd-1-2">
                                        <option value="">선택하세요.</option>
                                        <option value="도고BS콘도">도고BS콘도</option>
                                        <option value="오션투유리조트">오션투유리조트</option>
                                        <option value="라마다평택호텔">라마다평택호텔</option>
                                    </select>
                                </li>
                            </ul>
                            <ul class="ul-tb">
                                <li class="li-tr">
                                    <span class="s-lbl">단체명</span>
                                    <input type="text" class="wd-1" name="d_name">
                                    <hr class="show-xs">
                                    <span class="s-lbl ml-1">행사분류</span>
                                    <select name="h_gubun" id="h_gubun" class="wd-1 wd-1-2">
                                        <option value="수련회">수련회</option>
                                        <option value="워크샵/오티">워크샵/오티</option>
                                        <option value="세미나/단체행사">세미나/단체행사</option>
                                        <option value="학술모임">학술모임</option>
                                        <option value="각종잔치">각종잔치</option>
                                        <option value="기타">기타</option>
                                    </select>
                                </li>
                                <li class="li-tr">
                                    <span class="s-lbl">이용일</span>
                                    <input type="text" class="wd-4 sdate hasDatepicker" name="date" placeholder="체크인" readonly="" id="">
                                    <select name="day" id="day" class="wd-1 wd-1-2">
                                        <option value="당일">당일</option>
                                        <option value="1박2일" selected="">1박 2일</option>
                                        <option value="2박3일">2박 3일</option>
                                        <option value="3박4일">3박 4일</option>
                                        <option value="4박5일">4박 5일</option>
                                        <option value="5박이상">5박 이상</option>
                                    </select>
                                </li>
                                <li class="li-tr">
                                    <span class="s-lbl">인원</span>
                                    <span class="s-txt">남자</span>
                                    <input type="text" class="wd-5" name="person_man"><span>명</span>
                                    <span class="s-txt">여자</span>
                                    <input type="text" class="wd-5" name="person_her"><span>명</span>
                                    <span class="mg-l"></span>
                                    <span class="s-txt">총 인원</span>
                                    <input type="text" class="wd-6" name="person_all" value="0" disabled=""><span>명</span>
                                </li>
                                <li class="li-tr">
                                    <span class="s-lbl">예산</span>
                                    <input type="text" class="wd-7" name="ex_price" style="text-align:right;"><span>원</span>
                                    <p class="p-1">※ 제시하신 예산범위에서 최적의 플랜을 제시해 드리겠습니다.</p>
                                </li>
                                <li class="li-tr">
                                    <span class="s-lbl ver-t">기타요청</span>
                                    <textarea name="content" id="" cols="30" rows="10" class="wd-8"></textarea>
                                </li>
                            </ul>
                        </div>

                        <p class="row-btn"><a class="a-btn" href="javascript:;">단체 문의하기 <span class="ic-rArrow"></span></a></p>
                    </div>
                </div>
            </section>
            <!--//END : 181224 단체예약 문의 추가 -->
		</div>
		
		<!-- footer -->
		<footer class="footer">
			<div class="container">
			    <div class="adr-box">
			        <address>
                        (주)바로고고<span class="mgl"></span>대표자 : 김병종<br>
                        서울 강남구 테헤란로113길 13 152호<span class="mgl"></span>사업자등록번호 144-86-00643<a href="javascript:;" onclick="window.open('http://www.ftc.go.kr/bizCommPop.do?wrkr_no=1448600643&apv_perm_no=', 'communicationViewPopup', 'width=870, height=500');" class="btn-bi">사업자정보확인</a>
			        </address>
			    </div>
			    
			    <p class="logo"><img src="http://img.hyutour.co.kr/group/logo_footer.png" alt="바로네트웍스"></p>
			    <div class="adr-box">
			        <address>
			            서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워) (주)바로네트웍스<br>
                        대표이사 : 전병권<span class="mgl"></span>사업자번호 : 215-87-85373<span class="mgl"></span>통신판매업 : 제2017-서울강남-00561호<br>
                        여행업등록번호 : 제2017-07호<span class="mgl"></span>여행영업보증서 : 국내여행 제100-000-2015 0144 5816호
			        </address>
			    </div>
                
			    <div class="cust-box">
			        <a href="tel:010-4263-6010" class="cust-txt">
			            <span>단체관련 상담</span>
			            <span class="tell-txt">010-4263-6010</span>
			        </a>
			        <p class="cust-txt type-2">
			            <span>메일문의</span>
			            <span class="mail-txt">help@varotour.net</span>
			        </p>
			    </div>
			    
			    <div class="link-box">
                    <ul class="link-list clr">
                        <li><img src="http://img.hyutour.co.kr/group/f_icon01.gif" alt="국내여행사 부문 랭키닷컴 1위"></li>
                        <li><a href="javascript:util.regist_pop('registration02')"><img src="http://img.hyutour.co.kr/group/f_icon02.gif" alt="관광사업등록"></a></li>
                        <li><a href="javascript:util.regist_pop('registration01')"><img src="http://img.hyutour.co.kr/group/f_icon03.gif" alt="서울보증보험"></a></li>
                        <li><img src="http://img.hyutour.co.kr/group/f_icon04.gif" alt="안전결제"></li>
                        <li class="li-mg"><img src="http://img.hyutour.co.kr/group/f_icon05.gif" alt="KISA"></li>
                        <li class="li-mg"><a href="#none" onclick="onopen();"><img src="http://img.hyutour.co.kr/group/f_icon06.gif" alt="공정거래위원회"></a></li>
                    </ul>
                    <script language="JavaScript">
                        function onopen() {
                            var site_com = "2158785373";
                            var url = "http://www.ftc.go.kr/info/bizinfo/communicationViewPopup.jsp?wrkr_no=" + site_com;
                            window.open(url, "communicationViewPopup", "width=750, height=700;");
                        }
                    </script>
			    </div>
			</div>
		</footer>
		
	</div>

</body>

</html>