@@include('../include/_head.html', {
	"page": "about"
})

<body class="page-about">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents">
        <!-- 서브비주얼 -->
	    <div class="sub-visual">
	        <div class="area-slide">
		        <div class="box-slide">
		            <div class="box-slide-txt">
                        <h2 class="tit">위드유투어</h2>
                        <p class="sub-tit">위드유투어의 단체행사 서비스는 최상의 만족을 위해 모든 서비스를 디자인합니다.</p>
		            </div>
		        </div>
	        </div>
	    </div>
	    
        <!-- 탭 -->
	    <div class="box-tab">
	        <ul class="list-tab">
	            <li class="on"><a href="#tourAbout">위드유투어 소개</a></li>
	            <li><a href="#groupsAbout">단체고객 소개</a></li>
	            <li><a href="#storeAbout">시설입점/제휴문의</a></li>
	        </ul>
	    </div>
		
		<!-- tab01 위드유투어 소개 -->
		<div id="tourAbout" class="sect-tour" style="display: block;">
		    <div class="area-tour">
		        <div class="box-sub-tit">
		            <h3 class="tit">단체행사가 필요할 때는 <em>위드유투어!</em></h3>
		            <p class="sub-tit fg-green">이 정도의 예산으로 어디에서 뭘하는게 좋을까?<br>골치아픈 행사준비, 위드유투어에서 간편하게 !</p>
		        </div>
		        <p class="sub-txt">
		            20년 이상 단체행사 경험으로 원하시는 비용, 장소 등 모든 것을 완벽하게 맞춰드립니다.<br>
                    워크샵, 단합대회, 수련회, 연수, 학술회 등 학교/기업/종교단체의 다양한 행사,<br>
                    일반, 가족모임에 적합한 시설을 찾아드립니다.
		        </p>
		        <ul class="list-tour">
		            <li class="nth-1">
		                <figure><img src="http://img.withutour.co.kr/renew/about/img_tour_01.jpg" alt="위드유투어 소개 이미지"></figure>
		            </li>
		            <li class="nth-2">
		                <figure><img src="http://img.withutour.co.kr/renew/about/img_tour_02.jpg" alt="위드유투어 소개 이미지"></figure>
		            </li>
		            <li class="nth-3">
		                <figure><img src="http://img.withutour.co.kr/renew/about/img_tour_03.jpg" alt="위드유투어 소개 이미지"></figure>
		            </li>
		            <li class="nth-4">
		                <figure><img src="http://img.withutour.co.kr/renew/about/img_tour_04.jpg" alt="위드유투어 소개 이미지"></figure>
		            </li>
		        </ul>
		    </div>
		    
		    <div class="area-tour">
		        <div class="box-sub-tit">
		            <h3 class="tit">왜 단체행사는 <em>위드유투어</em>가 좋을까요?</h3>
		            <p class="sub-tit fg-green">원하시는 행사의 지역, 규모, 성격, 예산에 맞게<br>맞춤형 단체행사 컨설팅을 제안해드립니다.</p>
		        </div>
		        <p class="sub-txt">
		            희망요청에 맞게 지역별 시설에 따른 견적을 제안하여 폭넓고 수월한 견적 예상이 가능합니다.<br>
		            위드유투어와 함께 좋은 추억을 만들어보세요.
		        </p>
                <div class="box-info group">
                    <ul class="list-info">
                        <li class="nth-1">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>01</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">단체행사<br>문의접수</p>
                            </div>
                            <a href="../service/index_cont_write.html" class="btn-com">단체견적요청</a>
                        </li>
                        <li class="nth-2">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>02</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">행사성격, 예산,<br>장소 및 일정 등 분석</p>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>03</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">행사 플랜 및 장소 섭외<br>견적서 전달</p>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>04</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">사전답사 및<br>계약금 / 행사 진행</p>
                            </div>
                        </li>
                    </ul>
                </div>
		    </div>
		    
		    <div class="area-tour">
		        <div class="box-sub-tit">
		            <h3 class="tit"><em>위드유투어</em>의 비즈니스 파트너가 되십시오!</h3>
		            <p class="sub-tit fg-blue">전국 네트워크로 운영되는 시설 영업망으로 운영되는 위드유투어 서비스.<br>파트너 업체의 판매촉진을 위해 훌륭한 시너지를 만들겠습니다.</p>
		        </div>
		        <p class="sub-txt">
		            귀하의 시설이 온라인에 홍보되고 단체예약을 타겟으로 견적이 제안됩니다.
		        </p>
                <div class="box-info business">
                    <ul class="list-info">
                        <li class="nth-1">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>01</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">입점/제휴 문의<br>(온라인 ,유선요청)</p>
                            </div>
                            <!-- ** 소개 > 입점/제휴 문의로 이동 ** -->
                            <a href="./index.html#storeAbout" class="btn-com">입점/제휴 문의</a>
                        </li>
                        <li class="nth-2">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>02</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">시설, 규모 확인<br>서류, 시설 자료요청</p>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>03</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">사이트내 시설등록<br>서비스 준비</p>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>04</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">파트너 시설<br>서비스 진행</p>
                            </div>
                        </li>
                    </ul>
                </div>
		    </div>
		</div>
		
		<!-- tab02 단체고객 소개 -->
		<div id="groupsAbout" class="sect-groups" style="display: none;">
            <div class="box-sub-tit">
                <h3 class="tit">단체 고객 소개</h3>
                <p class="sub-tit">저희는 약 450여개 유수의 기업체와 관,공사는 물론<br>초, 중, 고, 대학교 / 종교 /가족 및 일반 단체 등 고객으로 더욱 정진하고 있습니다.</p>
            </div>
            
            <div class="area-groups cust">
                <p class="tit-groups">회사 / 기업 단체</p>
                <div class="box-groups">
                    <ul class="list-groups">
                    </ul>
                </div>
            </div>
            
            <div class="area-groups public">
                <p class="tit-groups">공공기관 / 협회 단체</p>
                <div class="box-groups">
                    <ul class="list-groups">
                    </ul>
                </div>
            </div>
            
            <div class="area-groups school">
                <p class="tit-groups">대학교 / 초, 중, 고등학교 단체</p>
                <div class="box-groups">
                    <ul class="list-groups">
                    </ul>
                </div>
            </div>
		</div>
		
		<!-- tab03 시설입점/제휴문의 -->
		<div id="storeAbout" class="sect-store" style="display: none;">
            <div class="box-sub-tit">
                <h3 class="tit">위드유투어의 파트너가 되십시오!</h3>
                <p class="sub-tit">귀사의 시설 홍보와 판매촉진을 위해 위드유투어가 함께하겠습니다.<br>파트너 업체의 시설과 영업망을 공유하여 가장 효율 높은 시너지를 만들겠습니다.</p>
                
                <div class="box-info business type-2">
                    <ul class="list-info">
                        <li class="nth-1">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>01</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">입점/제휴 문의<br>(온라인 ,유선요청)</p>
                            </div>
                        </li>
                        <li class="nth-2">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>02</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">시설, 규모 확인<br>서류, 시설 자료요청</p>
                            </div>
                        </li>
                        <li class="nth-3">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>03</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">사이트내 시설등록<br>서비스 준비</p>
                            </div>
                        </li>
                        <li class="nth-4">
                            <div class="box-num">
                                <p class="txt-num">
                                    <em>04</em>
                                    <span>STEP</span>
                                </p>
                            </div>
                            <div class="box-txt">
                                <div class="img-info"></div>
                                <p class="txt">파트너 시설<br>서비스 진행</p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="tbl-row">
                    <div class="box-tbl-top">
                        <p class="txt-top"><em>* 항목</em>은 필수 입력 사항입니다.</p>
                    </div>
                    <table class="tbl">
                        <colgroup>
		                    <col style="width: 13%;">
		                    <col style="width: 37%;">
		                    <col style="width: 13%;">
		                    <col style="width: 37%;">
                        </colgroup>
                        <tbody>
                            <tr>
                                <th>
                                    <label for="typeName" class="lbl impt">시설명</label>
                                </th>
                                <td>
                                    <div class="box-tf">
                                        <input type="text" id="typeName" class="form-ip">
                                    </div>
                                </td>
                                <th>
                                    <label for="telNum" class="lbl impt">연락처</label>
                                </th>
                                <td>
                                    <div class="box-tf">
                                        <input type="tel" id="telNum" class="form-ip wd-tel">
                                        <span>-</span>
                                        <input type="tel" id="telNum02" class="form-ip wd-tel">
                                        <span>-</span>
                                        <input type="tel" id="telNum03" class="form-ip wd-tel">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="name" class="lbl impt">담당자명</label>
                                </th>
                                <td>
                                    <div class="box-tf">
                                        <input type="text" id="name" class="form-ip">
                                    </div>
                                </td>
                                <th>
                                    <span class="lbl impt">시설유형</span>
                                </th>
                                <td>
                                    <div class="box-tf">
                                        <select name="" id="" class="form-sel">
                                            <option value="">선택하세요</option>
                                            <option value="">호텔</option>
                                            <option value="">리조트/콘도</option>
                                            <option value="">펜션</option>
                                            <option value="">연수원,수련원</option>
                                            <option value="">기타</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="page" class="lbl">홈페이지</label>
                                </th>
                                <td>
                                    <div class="box-tf">
                                        <input type="text" id="page" class="form-ip">
                                    </div>
                                </td>
                                <th>
                                    <span class="lbl impt">시설지역</span>
                                </th>
                                <td>
                                    <div class="box-tf">
                                        <select name="" id="" class="form-sel">
                                            <option value="">선택하세요</option>
                                            <option value="">서울경기</option>
                                            <option value="">강원지역</option>
                                            <option value="">경상지역</option>
                                            <option value="">충청지역</option>
                                            <option value="">전라지역</option>
                                            <option value="">제주지역</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <label for="txtAra" class="lbl">시설소개</label>
                                </th>
                                <td colspan="3">
                                    <div class="box-tf">
                                        <textarea name="" id="txtAra" cols="30" rows="10" class="form-txtara" placeholder="최대수용 인원 : &#13;&#10;객실수 : &#13;&#10;보유 부대시설 : 강당 / 세미나실 / 식당 / 운동장 / 바베큐장 등 &#13;&#10;&#13;&#10;&#13;&#10;위 사항을 중심으로 자세하게 기술하여 주십시오."></textarea>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="box-robo">
                    <!-- 로봇이 아닙니다 캡차를 넣어주세요 -->
                    <div class="btn-robo">
				        <script src="https://www.google.com/recaptcha/api.js"></script>
                        <div class="g-recaptcha" data-sitekey="6Lc0s4sUAAAAAA6NfIZ8-QuKkQaLxs83zZjrrL8Q"></div>
                    </div>
                    <p class="txt-pt">※ 제휴문의를 접수하신 후 해당 담당자가 연락드리도록 하겠습니다.</p>
                    <a href="#none" class="btn-com">시설입점 / 제휴문의 하기</a>
                </div>
            </div>
		</div>
	</div>

	@@include('../include/_footer.html') 
</div>

</body>
</html>