<header class="header">
	<div class="gnb">
        <div class="box-gnb">
            <h1 class="logo">
                <a href="../main/index.html"><img src="http://img.withutour.co.kr/renew/common/logo.png" alt="위드유투어 로고"></a>
            </h1>
            <ul class="menu">
                <!-- 해당 페이지일 경우 on 클래스 추가 -->
                <li class="item-1 on">
                    <a href="../about/index.html">위드유투어</a>
                    <ul class="snb">
                        <li><a href="#none">위드유투어 소개</a></li>
                        <li><a href="#none">단체고객 소개</a></li>
                        <li><a href="#none">시설입점/제휴 문의</a></li>
                    </ul>
                </li>
                <li class="item-2"><a href="../facil/index.html">제휴시설</a></li>
                <li class="item-3"><a href="#none">단체행사</a></li>
                <li class="item-4"><a href="#none">상담접수</a></li>
                <li class="item-5">
                    <a href="#none">고객센터</a>
                    <ul class="snb">
                        <li><a href="#none">자주 묻는 질문</a></li>
                        <li><a href="#none">질문과 답변</a></li>
                        <li><a href="#none">견적문의</a></li>
                    </ul>
                </li>
            </ul>
            
            <div class="sitemap">
                <a href="#none"><span class="ico-menu"></span>SITE MAP</a>
                <!-- 아직 없음 -->
            </div>
        </div>
    </div>
    <div class="box-until">
        <div class="box-cust">
            <span>고객센터</span>
            <p class="ico-call">
                <em>02) 6255-3025</em>
                <span>평일 09~18시 (12~13시 제외)</span>
            </p>
        </div>
    </div>
</header>
<!-- /.header -->