<header class="header">
	<div class="gnb">
        <div class="box-gnb">
            <h1 class="logo">
                <a href="../main/index.html"><img src="http://img.withutour.co.kr/renew/common/logo.png" alt="위드유투어 로고"></a>
            </h1>
            <ul class="menu">
                <!-- 해당 페이지일 경우 on 클래스 추가 -->
                <li class="item-1 on">
                    <a href="../about/index.html">위드유투어</a>
                    <ul class="snb">
                        <li><a href="#none">위드유투어 소개</a></li>
                        <li><a href="#none">단체고객 소개</a></li>
                        <li><a href="#none">시설입점/제휴 문의</a></li>
                    </ul>
                </li>
                <li class="item-2"><a href="../facil/index.html">제휴시설</a></li>
                <li class="item-3"><a href="../group/index.html">단체행사</a></li>
                <!-- 견적문의 페이지로 이동 -->
                <li class="item-4"><a href="../service/index.html#sectCont">상담접수</a></li>
                <li class="item-5">
                    <a href="../service/index.html">고객센터</a>
                    <ul class="snb">
                        <li><a href="#none">자주 묻는 질문</a></li>
                        <li><a href="#none">질문과 답변</a></li>
                        <li><a href="#none">견적문의</a></li>
                    </ul>
                </li>
            </ul>
            
            <!-- 190521 사이트맵 수정 -->
            <a href="#none" class="btn-sitemap"><span class="ico-menu"></span>SITE MAP</a>
        </div>
            
        <!-- 190521 사이트맵 추가 /링크는 none으로 두었습니다 -->
        <div class="area-sitemap">
            <div class="box-sitemap">
                <div class="tit-box">
                    <span class="ico-menu"></span>
                    <span class="txt-map">SITE MAP</span>
                </div>
                
                <ul class="map-list">
                    <li class="nth-1">
                        <a href="#none" class="dep-01">위드유투어</a>
                        <ul class="map-sub-list">
                            <li><a href="#none">위드유투어 소개</a></li>
                            <li><a href="#none">단체고객 소개</a></li>
                            <li><a href="#none">시설입점/제휴 문의</a></li>
                        </ul>
                    </li>
                    <li class="nth-2">
                        <a href="#none" class="dep-01">제휴시설</a>
                    </li>
                    <li class="nth-3">
                        <a href="#none" class="dep-01">단체행사</a>
                    </li>
                    <li class="nth-4">
                        <a href="#none" class="dep-01">상담접수</a>
                    </li>
                    <li class="nth-5">
                        <a href="#none" class="dep-01">고객센터</a>
                        <ul class="map-sub-list">
                            <li><a href="#none">자주 묻는 질문</a></li>
                            <li><a href="#none">질문과 답변</a></li>
                            <li><a href="#none">견적문의</a></li>
                        </ul>
                    </li>
                </ul>
                
                <a href="javascript:;" class="btn-close"><span>닫기</span></a>
            </div>
        </div>
        
        <div class="box-until">
            <div class="box-cust">
                <span>고객센터</span>
                <p class="ico-call">
                    <em>02) 6255-3025</em>
                    <span>평일 09~18시 (12~13시 제외)</span>
                </p>
            </div>
        </div>
    </div>
</header>
<!-- /.header -->