@charset "utf-8";

@import "../parts/common";

/* 콘텐츠 영역 */
.contents {
    padding-bottom: 115px;
    
    //서브 비주얼 영역
    .sub-visual {
        .area-slide {
            .box-slide {
                &:before {
                    background: url(http://img.withutour.co.kr/renew/about/bg_visual.jpg) no-repeat center center;
                    background-size: cover;
                }
            }
        }
    }
    
    //섹션
    div[class*='sect-'] {
        padding-top: 45px;
        
        /* 위드유투어 소개 */
        &.sect-tour {
            .area-tour {
                @include list-info;
                .box-info {
                    margin-top: 28px;
                }
                text-align: center;
                .sub-txt {
                    @include bx;
                    padding-top: 17px;
                    font-size: 20px;
                    line-height: 32px;
                    
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        width: 385px;
                        height: 1px;
                        left: 50%;
                        top: 0;
                        margin-left: -(385px/2);
                        background: $bor-gray-3;
                    }
                }

                .list-tour {
                    @include bx;
                    @include clearfix;
                    margin-top: 25px;
                    li {
                        float: left;
                        width: 23.5%;
                        margin-left: 2%;
                        &:first-child {
                            margin-left: 0;
                        }
                        figure {
                            @include bx;
                            img {
                                width: 100%;
                                border: 1px solid $bor-gray-3;
                            }
                        }
                    }
                }
                
                & + .area-tour {
                    margin-top: 85px;
                }
            }
        }
        
        /* 단체고객 소개 */
        &.sect-groups {
            .box-sub-tit {
                .sub-tit {
                    padding-bottom: 0;
                }
            }
            .area-groups {
                text-align: center;
                .tit-groups {
                    padding: 40px 0 8px;
                    font-size: 26px;
                    color: $fg-green-2;
                }
                .box-groups {
                    border-top: 2px solid $bor-green;
                    .list-groups {
                        @include bx;
                        @include clearfix;
                        li {
                            @include bx;
                            float: left; 
                            width: 14.28%;
                            border-bottom: 1px solid $bor-gray-3; 
                            border-left: 1px solid $bor-gray-3;
                            &:first-child {
                                border-left: 0;
                            }
                            .area-list {
                                @include bx;
                                display: table; 
                                width: 100%; 
                                height: 140px; 
                                padding: 18px 0 0 0;
                                text-align: center;
                                .box-list {
                                    @include bx;
                                    display: table-cell; 
                                    text-align: center; 
                                    vertical-align: middle;
                                    .list-img {
                                        @include bx;
                                        display: table; 
                                        width: 100%; 
                                        min-height: 55px;
                                        figure {
                                            display: table-cell; 
                                            text-align: center; 
                                            vertical-align: middle;
                                            img {
                                                width: auto; 
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                    .txt-list {
                                        @include bx;
                                        display: table;
                                        width: 100%; 
                                        height: 55px; 
                                        text-align: center; 
                                        span {
                                            display: table-cell; 
                                            font-size: 15px; 
                                            line-height: 1;
                                            vertical-align: middle;
                                            color: #000;
                                        }
                                    }
                                }
                                
                                &.type-2 {
                                    height: 55px;
                                    padding-top: 0;
                                }
                            }
                        }
                    }
                }
                
                & + .area-groups {
                    .tit-groups {
                        padding-top: 50px;
                    }
                }
            }
        }
        
        
        /* 시설입점/제휴문의 */
        &.sect-store {
            @include list-info($bg-ht:65px);
            .box-info {
                margin-top: 28px;
            }
            @include table-row;
            .tbl-row {
                margin-top: 35px;
            }
            @include robo;
        }
    }
    
}
