<!-- 우측배너 -->
<div class="bn-wrap bn-right">
    <div class="container">
        <div class="inner">
            <div class="area-service">
                <div class="box-service">
                    <div class="box-cont">
                        <p class="txt">빠른답변을 약속합니다</p>
                    </div>
                    <a href="../service/index.html#sectCont" class="btn-cont bnServFn">
                        <figure class="img-serv">
                            <img src="http://img.withutour.co.kr/renew/banner/btn_cont.png" alt="단체행사 문의">
                        </figure>
                        <p class="txt-serv">단체행사 문의</p>
                    </a>
                </div>
            </div>
            <div class="area-service">
                <div class="box-service">
                    <div class="box-faq">
                        <p class="txt">일반적인 질문은 여기로</p>
                    </div>
                    <a href="../service/index.html" class="btn-faq bnServFn">
                        <figure class="img-serv">
                            <img src="http://img.withutour.co.kr/renew/banner/btn_faq.png" alt="자주 묻는 질문">
                        </figure>
                        <p class="txt-serv">자주 묻는 질문</p>
                    </a>
                </div>
            </div>
            <div class="area-service">
                <div class="box-service">
                    <div class="box-qna">
                        <p class="txt">무엇이든 물어보세요!</p>
                    </div>
                    <a href="../service/index.html#sectQna" class="btn-qna bnServFn">
                        <figure class="img-serv">
                            <img src="http://img.withutour.co.kr/renew/banner/btn_qna.png" alt="질문과 답변">
                        </figure>
                        <p class="txt-serv">질문과 답변</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>